In [5]:
import yfinance as yf

In [6]:
# Define the stock symbol for Microsoft
symbol = 'MSFT'
data = yf.download(symbol, start='2023-01-01', end='2024-01-01')
# Display the first few rows of the data 
data.head()

[*********************100%%**********************]  1 of 1 completed

/Users/AdnanAhmad/.pyenv/versions/3.9.4/lib/python3.9/site-packages/yfinance/utils.py:782: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,243.080002,245.750000,237.399994,239.580002,236.183517,25740000
2023-01-04,232.279999,232.869995,225.960007,229.100006,225.852097,50623400
2023-01-05,227.199997,227.550003,221.759995,222.309998,219.158356,39585600
2023-01-06,223.000000,225.759995,219.350006,224.929993,221.741196,43613600
2023-01-09,226.449997,231.240005,226.410004,227.119995,223.900146,27369800